<div class="cart"></div>
<h1>Imp-orium</h1>
<h4>Your one-stop shop for all your impish needs</h4>
<div class="carrousel"></div>
<script>
  Cart = new CartObject($(".cart"));
  Cart.update();
  var c = new Carrousel($(".carrousel")[0]);
  c.getItems();

</script>